div.small-12.column.text-right.cont-nav
  span.user
    span {{user.firstName}} {{user.lastName}}
    div(ng-if='user.profilePic')
      img(ng-src='{{user.profilePic}}')
  span
    button(ng-click='logOut()').small.button.alert.btn
      i.fa.fa-sign-out.fa-2
