a(ng-href='#/stories').button Menu

h2 Créer une nouvelle histoire

h4 Titre
input(ng-model='newStory.title')

h4 Description
input(ng-model='newStory.description')

h4 Questions
div(ng-repeat='question in newStory.questions').small-offset-1
  div Texte :
    input(ng-model='question.text')
  div Background
    select(ng-model='question.background')
          option(ng-repeat='(background,url) in backgrounds', value='{{url}}') {{background}}
  div Characters
    button(ng-click='addChara(question)').small-offset-1 Ajouter un personnage
    div(ng-repeat='chara in question.characters')
      div {{chara.name}}
      select(ng-model='chara')
        option(ng-repeat='char in characters', value='{{char}}') {{char.name}}
  div(ng-repeat='answer in question.answers').small-offset-1
    input(ng-model='answer.id', placeholder='Identifiant')
    input(ng-model='answer.text', placeholder='Text')
  button(ng-click='addAnswer(question)').button.success.small-offset-1
    i.fa.fa-plus
    span Ajouter une réponse

button(ng-click='addQuestion()').button.success
  i.fa.fa-plus
  span Ajouter une question

button(ng-click='saveStory(newStory)').button Créer l'histoire
