h3 Uploader un background
div(ngf-select="uploadBackground($file)").button Selectionner un fichier
input(ng-model='background')
button(ng-click='saveBackground()').button Sauvegarder le background


h3 Uploader un personnage
input(ng-model='character.name', placeholder='nom')

div Happy
  div(ngf-select="uploadCharacter('HAPPY',$file)").button Selectionner un fichier
div Neutral
  div(ngf-select="uploadCharacter('NEUTRAL',$file)").button Selectionner un fichier
div Smiling
  div(ngf-select="uploadCharacter('SMILGING',$file)").button Selectionner un fichier
div Upset
  div(ngf-select="uploadCharacter('UPSET',$file)").button Selectionner un fichier
button(ng-click='saveCharacter(character)').button Sauvegarder le personnage
