h3 Uploader un background
div(ngf-select="uploadBackground($file)").button Selectionner un fichier
input(ng-model='background')
button(ng-click='saveBackground()') Sauvegarder le background

//TODO the same for characters (think to add moods)
//h3 Uploader un background
//div(ngf-select="uploadBackground($file)").button Selectionner un fichier
//input(ng-model='background')
//button(ng-click='saveBackground()') Sauvegarder le background
