section.followus
  div.row.align-center.logo
    div.small-12.column.text-center
      img(src='./assets/images/logoGarage56.svg', width=250)

  div.row.align-center
    div.small-12.column.text-center
      h1 Suivez-nous !
      h3
        a(href="http://garage56.fr") www.garage56.fr
  div.row.text-center.align-middle
    div.small-4.column
      img(src='./assets/images/logoGarage56.svg', width=140)
    div.small-4.column
      img(src='./assets/images/logoGarage56.svg', width=180)
    div.small-4.column
      img(src='./assets/images/logoGarage56.svg', width=140)


