.followus {
  background-color: $color-g56;
  height: 100vh;
  .logo {
    padding: 40px;
  }
  h1 {
    color: white;
    text-transform: uppercase;
    font-family: Nevo;
    font-weight: 200;
    padding: 30px;
  }
  h3 {
    padding: 10px;
    letter-spacing: 4px;
  }
  a {
    color: white;
  }
}
