.loginConnection {
  text-align: center;
  margin-top: 3rem;
  margin-left: 10rem;
}
.titreLogin {
  font-size: 2rem;
}
.topLogin {
  margin-top: 15rem;
}

.loginError {
  font-size: 0.9rem;
}

.loginError .fa {
  color: darkred;
  margin-right: 0.5rem;
}
