.main {
  background-color: #d1605a;
  position: relative;
  .welcome {
    padding: 215px 0 0 0 ;
    position: relative;

    .cont-logo {
      position: relative;
      .logo {
        height: 200px;
        position: absolute;
        top: -80px;
      }
    }
  }
}

.cont-btn {
  margin: 40px auto;

  button.button {
    background-color: #b3b3b3;
    border: 6px solid white;
    border-radius: 20px;
    font-family: Nevo;
    font-weight: bold;
    font-size: 2.9rem;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}
