section.main
  div.row.align-right.cont-nav
    navbar
  div.row.align-center.welcome
    div.small-12.column.text-center
      div.row.align-center.cont-logo
        div.small-12.column.logo
          img(src='./assets/images/logoGarage56.svg', width=250)
      div.row.align-center.cont-title
        //img(src='./assets/images/logoGarage56.svg', width=250).logo
        div.small-12.column
          img(src='./assets/images/dev-survival.svg', width=830).title
          div.row.align-center.cont-btn
            a(ng-href='#/stories')
              button.button.large Jouer


    //a(ng-if='unlock',ng-href='#/create/').button.secondary Créer une histoire

