section.main
  //div.small-12.column
  //  navbar
  div.row.align-center.welcome.border
    div.small-12.column.text-center
      div.row.logo.border
        div.small-12.column
          img(src='./assets/images/logoGarage56.svg', width=250)
      img(src='./assets/images/dev-survival.svg', width=830)
      div.column.cont-btn
        a(ng-href='#/stories')
          div.btn JOUER

    //div.small-12.column.text-center
    //  div.row.align-center
    //    a(ng-href='#/stories')

    //a(ng-if='unlock',ng-href='#/create/').button.secondary Créer une histoire

