.questionContainer {
  background-color: lightgray;
  border: solid gray;
}

.characterContainer {
  background-color: lightgreen;
  border: solid green;
}

.answerContainer {
  background-color: lightblue;
  border : solid deepskyblue;
}
