a(ng-href='#/stories').button Menu

form.small-12.column
  div
    h2 Modifier une histoire

    h4 Titre
    input(type="text", ng-model='story.title')

    h4 Description
    textarea(ng-model='story.description', rows=6)


  div.small-12.column
    h4 Questions
    div(ng-repeat='question in story.questions')
      div Question {{$index}} :
        button(ng-click='story.questions.splice($index)').button.alert.small
          i.fa.fa-trash
      div Titre de la question :
        input(type="text", ng-model='question.text')
      div Choisir le background
        select(ng-model='question.background')
          option(ng-repeat='(background, url) in backgrounds', value='{{ url }}') {{background}}
        //div(ngf-select="upload(question, $file)").button Selectionner un fichier
        //div {{question.background}}
      div Choisir les personnages
        button(ng-click='addChara(question)').button Ajouter un personnage
      div(ng-repeat='(ckey,chara) in question.characters')
        span
          span Character {{ckey}} :
          strong {{chara.name}}
          button(ng-click='question.characters.splice(ckey)').button.alert
            i.fa.fa-trash
        label Sélection
          select(ng-model='question.characters[ckey]', ng-options='char as char.name for char in characters')
            //option(ng-repeat='char in characters', value='{{char}}') {{char.name}}

        div(ng-if='chara.name').row
          label.small-4.column Humeurs
          //div {{charaIndex}} {{characters[charaIndex]}}
          select(ng-model='question.characters[ckey].mood')
            option(ng-repeat='(mood,url) in chara.moods ', value='{{mood}}') {{mood}}

          label.small-4.column Positionnement vertical
            select(name="columns-v", ng-model= 'chara.columnX')
              option(value="0") column 1
              option(value="115.50") column 2
              option(value="231") column 3
              option(value="346.5") column 4
              option(value="462") column 5
              option(value="577.5") column 6
              option(value="693") column 7
              option(value="808.5") column 8
          label.small-4.column Positionnement horizontale
            select(name="columns-h", ng-model= 'chara.columnY')
              option(value="0") column 1
              option(value="87.5") column 2
              option(value="175") column 3
              option(value="262.5") column 4
              option(value="350") column 5
              option(value="437.5") column 6
              option(value="525") column 7
              option(value="612.5") column 8

      div(ng-repeat='(akey,answer) in question.answers')
        input(ng-model='answer.id', placeholder='Identifiant')
        input(ng-model='answer.text', placeholder='Texte avant choix')
        input(ng-model='answer.result', placeholder='Texte après choix')
        button(ng-click='question.answers.splice(akey)').button.alert
          i.fa.fa-trash
        div(ng-repeat='character in question.characters')
          div {{character.name}}
            select(ng-model='question.answers[akey].characters[character.name]', ng-options='key as key for (key,charMood) in character.moods')
        select(ng-model='questions.answers[akey].userMood', ng-options='key as key for (key,charMood) in user.character.moods')
      button(ng-click='addAnswer(question)').button.success.small-offset-1
        i.fa.fa-plus
        span Ajouter une réponse

  button(ng-click='addQuestion()').button.success
    i.fa.fa-plus
    span Ajouter une question

  button(ng-click='saveStory(story)').button Sauvegarder les changements
