div.small-12.column
  h2 Modifier une histoire

  h4 Titre
  input(ng-model='story.title')

  h4 Description
  input(ng-model='story.description')

  h4 Questions

div(ng-repeat='question in story.questions').small-12.column
  div Texte :
    input(ng-model='question.text')
  div Background
    select(ng-model='question.background')
      option(ng-repeat='(background,url) in backgrounds', value='{{url}}') {{background}}
    //div(ngf-select="upload(question, $file)").button Selectionner un fichier
    //div {{question.background}}
  div.row
  div Characters
    button(ng-click='addChara(question)').small-offset-1 Ajouter un personnage
    div(ng-repeat='chara in question.characters')
      div {{chara.name}}
      select(ng-model='chara')
        option(ng-repeat='char in characters', value='{{char}}') {{char.name}}

      div.row
        label.small-4.column Humeurs
          select(ng-model='chara.mood', ng-options = "mood for mood in chara.moods")
            //option(ng-repeat='(mood,url) in chara.moods', value='{{mood}}') {{mood}}

        label.small-4.column Positionnement vertical
          select(name="colums-v", ng-model= 'chara.column')
            option(value="115.50 + 50") column 1
            option(value="115.50 * 2 + 50") column 2
            option(value="115.50 * 3 + 50") column 3
            option(value="115.50 * 4 + 50") column 4
            option(value="115.50 * 5 + 50") column 5
            option(value="115.50 * 6 + 50") column 6
            option(value="115.50 * 7 + 50") column 7
            option(value="115.50 * 8 + 50") column 8
        label.small-4.column Positionnement horizontale
          select(name="colums-h")
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8

  div(ng-repeat='answer in question.answers').small-offset-1
    input(ng-model='answer.id', placeholder='Identifiant')
    input(ng-model='answer.text', placeholder='Text')
  button(ng-click='addAnswer(question)').button.success.small-offset-1
    i.fa.fa-plus
    span Ajouter une réponse

button(ng-click='addQuestion()').button.success
  i.fa.fa-plus
  span Ajouter une question

button(ng-click='saveStory(story)').button Sauvegarder les changements
