h2 Modifier une histoire

h4 Titre
input(ng-model='story.title')

h4 Description
input(ng-model='story.description')

h4 Questions
div(ng-repeat='question in story.questions').small-offset-1
  div Texte :
    input(ng-model='question.text')
  div(ng-repeat='answer in question.answers').small-offset-1
    input(ng-model='answer.id', placeholder='Identifiant')
    input(ng-model='answer.text', placeholder='Text')
  button(ng-click='addAnswer(question)').button.success.small-offset-1
    i.fa.fa-plus
    span Ajouter une réponse

button(ng-click='addQuestion()').button.success
  i.fa.fa-plus
  span Ajouter une question

button(ng-click='saveStory(story)').button Sauvegarder les changements
