a(ng-href='#/stories').button Menu

h3 Créer un texte de résultat

div.small-8
  input(ng-model='newFlavour.name', placeholder='identifiant pour admin')
  button(ng-click='createFlavour(newFlavour)').button Créer


div(ng-repeat='flavour in flavours').row
  div.small-12
    input(ng-model='flavour.name')
  div.small-4.column
    i.fa.fa-mars
    input(type='text', ng-model='flavour.man.name', placeholder='Nom Homme')
    textarea(ng-model='flavour.man.text', placeholder='Texte à afficher pour un homme')
  div.small-4.column
    i.fa.fa-venus
    input(type='text', ng-model='flavour.woman.name', placeholder='Nom Femme')
    textarea(ng-model='flavour.woman.text', placeholder='Texte à afficher pour une femme')
  button(ng-click='saveFlavour(flavour)').button.success Sauvegarder
  button(ng-click='deleteFlavour(flavour)').button.alert
    i.fa.fa-trash
  hr
