//div.small-12.column(ng-if='storyData', ng-style="{'background-image': 'url(\'./assets/images/zootrope_background.svg\') {{storyData.questions[$scope.index].background}}px 0'}").cont-stories
div.small-12.column(ng-if='storyData', style="background-position: {{storyData.questions[index].background}}px 0px").cont-stories
  //div(ng-style="{'background-image': 'url({{storyData.questions[index].image}})'}")
  div.stories
    div(ng-repeat=" perso in storyData.questions[index].characters ")
      character(data='perso', mood='{{moods[perso.name]}}', style='left: -400px; top:{{perso.columnY}}px',
      ng-class='{slide1:perso.columnX==0, slide2:perso.columnX==87.5, slide3:perso.columnX==175, slide4:perso.columnX==262.5,' +
      'slide5:perso.columnX==350, slide6:perso.columnX==437.5, slide7:perso.columnX==525, slide8:perso.columnX==612.5}').character
    div.row.animation.medium-collapse.large-collapse.cont-menu
      div.small-12.column.text-right
        //span(ng-click='stopSound()')
        //  i(ng-if='!sound').fa.fa-volume-off
        //  i(ng-if='sound').fa.fa-volume-up
        div(ng-click='showMenu()').button.alert menu
          p(ng-if='menu', ng-click='return()').button.secondary Retour en arrière
          p(ng-if='menu', ng-click='quit()').button.secondary Retourner au menu
      //div(ng-repeat='character in storyData.questions[index].characters').row {{character.name}}
    div.cont-interface
      character(data='user.gender', mood='{{userMood}}').userCharacter
      button.button.alert {{storyData.questions[index].speaker}}
      div.row.interface
        div.small-12.column
          interface(data='storyData.questions[index]', action='chooseAnswer', name='{{user.lastName}}')
      //div story {{story.questions[index]}}
      //background


