.back-play {
  max-width: 1024px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin: auto;
}

.animation {
  height: 493px;
  max-width: 924px;
}

.interface {
  height: 207px;
  width: 924px;
  background-color: #0a0a0a;
  border-radius: 15px;
  position: relative;
  z-index: 3;
  overflow: scroll;

  button.button.alert {
    position: absolute;
    top: -17px;
    left: 100px;
    width: 185px;
    border-radius: 10px;
    z-index: 4;
  }
}

.cont-interface {
  position: relative;
  .userCharacter {
    position: absolute;
    //bottom: 135px;
    top: -315px;
    left: 165px;
    z-index: 1;
  }
}


