.cont-menu {
  .button.alert {
    border-radius: 10px;
    width: 170px;
    font-family: Nevo;
    font-weight: 600;
  }
}


.back-play {
  max-width: 1024px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin: auto;
}

.animation {
  height: 493px;
  max-width: 924px;
}

.interface {
  height: 207px;
  max-width: 924px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  z-index: 3;
  overflow: scroll;


}

.cont-interface {
  position: relative;
  .userCharacter {
    position: absolute;
    top: -315px;
    left: 165px;
    z-index: 1;
  }
  button.button.alert {
    position: absolute;
    top: -17px;
    left: 150px;
    width: 185px;
    border-radius: 10px;
    z-index: 4;
  }
}


