div.small-12.column(ng-if='storyData', ng-style="{'background-image': 'url({{ urlBack }})'}").back-play
  //div(ng-style="{'background-image': 'url({{storyData.questions[index].image}})'}")
  div.row.animation.medium-collapse.large-collapse
    div.small-12.column.text-right
      div.button.alert menu
    //div(ng-repeat='character in storyData.questions[index].characters').row {{character.name}}
  div.cont-interface
    character.userCharacter
    div.row.interface
      div.small-12.column
        button.button.alert {{user.firstName}} {{user.lastName}}
        interface(data='storyData.questions[index]', action='chooseAnswer')
    //div story {{story.questions[index]}}
    //background


