a(ng-href='#/stories').button Menu

h3 Updater un background
div(ng-repeat='(key,background) in backgrounds').row
  img(ng-src="{{background}}").small-6
  div.small-2 {{key}}
  span.small-1
    button(ng-click='delete(background)').button.alert
      i.fa.fa-trash

  div.small-3
    div(ngf-select="uploadBackground(key, $file)").button Selectionner un fichier
  div.small-12
    button(ng-click='saveBackground(key)').button.success Sauvegarder le background
