.backgroundSprite {
  background-image: url('../../assets/images/zootrope_background.svg');
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 1024px;
  height: 800px;
}

