section.score
  div.row.align-center.logo
    div.small-12.column.text-center
      img(src='./assets/images/logoGarage56.svg', width=220)

  div.row.align-center.text-center.cont-result
    img(src='./assets/images/f.svg', width=120).perso-female
    img(src='./assets/images/h.svg', width=120).perso-male
    div.small-11.column.array
      div Vous êtes un {{display.name}}
        div {{display.text}}
      //div(ng-repeat='answer in result') {{answer.id}}) {{answer.text}}
    a(ng-href='#/followus').button Suivant
